<app-station></app-station>
<body class="sidebar-mini" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars fa-2x"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto ">
                <li class="nav-item d-md-none d-block">
                    <a href="../dashboard/">
                        <img src="../../assets/images/AdminLogo.png" alt="Admin Logo" width="50px"
                            class="img-circle elevation-3">
                        <span class="font-weight-light pl-1">AppzStory Admin</span>
                    </a>
                </li>
                <li class="nav-item d-md-block d-none">
                    <a class="nav-link">เข้าสู่ระบบครั้งล่าสุด: 2021-06-01 20:00:00 </a>
                </li>
            </ul>
        </nav>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="../dashboard/" class="brand-link">
                <img src="../../assets/images/AdminLogo.png" alt="Admin Logo"
                    class="brand-image img-circle elevation-3">
                <span class="brand-text font-weight-light">AppzStory Admin</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="../../assets/images/avatar5.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="../manager/" class="d-block"> Yothin Sapsamran </a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="../dashboard/" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>หน้าหลัก</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../manager/" class="nav-link ">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>ผู้ดูแลระบบ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../members/" class="nav-link ">
                                <i class="nav-icon fas fa-users"></i>
                                <p>รายชื่อลูกค้า</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../products/" class="nav-link ">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>รายการสินค้า</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../orders/" class="nav-link ">
                                <i class="nav-icon fas fa-cart-arrow-down"></i>
                                <p>รายการสั่งซื้อ</p>
                            </a>
                        </li>
                        <li class="nav-header">บัญชีของเรา</li>
                        <li class="nav-item">
                            <a href="../logout.php" id="logout" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>ออกจากระบบ</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper pt-3" style="min-height: 339.15px;">
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-info shadow">
                                <div class="inner text-center">
                                    <h1 class="py-3">&nbsp;ผู้ดูแลระบบ&nbsp;</h1>
                                </div>
                                <a href="../manager/" class="small-box-footer py-3"> คลิกจัดการระบบ <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-primary shadow">
                                <div class="inner text-center">
                                    <h1 class="py-3">รายชื่อลูกค้า</h1>
                                </div>
                                <a href="../members/" class="small-box-footer py-3"> คลิกจัดการระบบ <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-success shadow">
                                <div class="inner text-center">
                                    <h1 class="py-3">รายการสินค้า</h1>
                                </div>
                                <a href="../products/" class="small-box-footer py-3"> คลิกจัดการระบบ <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-danger shadow">
                                <div class="inner text-center">
                                    <h1 class="py-3">รายการสั่งซื้อ</h1>
                                </div>
                                <a href="../orders/" class="small-box-footer py-3"> คลิกจัดการระบบ <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="small-box py-3 bg-white shadow">
                                <div class="inner">
                                    <h3>3,500 บาท</h3>
                                    <p class="text-danger">ยอดขายประจำวัน</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="small-box py-3 bg-white shadow">
                                <div class="inner">
                                    <h3>25,000 บาท</h3>
                                    <p class="text-danger">ยอดขาย 7 วันที่ผ่านมา</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-chart-area"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="small-box py-3 bg-white shadow">
                                <div class="inner">
                                    <h3>5 รายการ</h3>
                                    <p class="text-danger">ยอดคำสั่งซื้อประจำวัน</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="small-box py-3 bg-white shadow">
                                <div class="inner">
                                    <h3>10 คน</h3>
                                    <p class="text-danger">ลูกค้าหน้าใหม่ในเดือนนี้</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <p class="d-flex flex-column">
                                            <span class="text-bold text-xl" id="salesReport">65,290</span>
                                            <span class="text-danger" id="salesTextReport">ยอดขายเดือน มิถุนายน
                                                2021</span>
                                        </p>
                                        <p class="ml-auto flex-row" id="salesbtn">
                                            <button class="btn btn-secondary m-1 d-block d-md-inline ml-auto"
                                                onclick="selectReport('report-month.php', this, 'line')">ยอดขายเดือนนี้</button>
                                            <button class="btn btn-outline-secondary m-1 d-block d-md-inline ml-auto"
                                                onclick="selectReport('report-sixmonths.php', this, 'bar')">6
                                                เดือน</button>
                                            <button class="btn btn-outline-secondary m-1 d-block d-md-inline ml-auto"
                                                onclick="selectReport('report-twelvemonths.php', this, 'bar')">12
                                                เดือน</button>
                                            <button class="btn btn-outline-secondary m-1 d-block d-md-inline ml-auto"
                                                onclick="selectReport('report-year.php', this, 'bar')">2021</button>
                                        </p>
                                    </div>
                                    <div class="position-relative">
                                        <div class="chartjs-size-monitor">
                                            <div class="chartjs-size-monitor-expand">
                                                <div class=""></div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink">
                                                <div class=""></div>
                                            </div>
                                        </div>
                                        <canvas id="visitors-chart" height="437"
                                            style="display: block; height: 350px; width: 1202px;" width="1502"
                                            class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright © 2021 - 2023
                <a href="https://appzstory.dev" target="_blank">appzstory.dev</a>.
            </strong> All rights reserved.
        </footer>

        <!-- Google Tag Manager -->
        <script type="text/javascript" async=""
            src="https://www.googletagmanager.com/gtag/js?id=G-8MRBKK7S3V&amp;l=dataLayer&amp;cx=c"></script>
        <script src="https://connect.facebook.net/signals/config/2041433492796878?v=2.9.106&amp;r=stable"
            async=""></script>
        <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
        <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NQJ86D3"></script>
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-NQJ86D3');</script>
        <!-- End Google Tag Manager -->

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQJ86D3" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="sidebar-overlay"></div>
    </div>


    <!-- SCRIPTS -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/adminlte.min.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="../../plugins/chart.js/Chart.min.js"></script>
    <script src="../../plugins/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="../../assets/js/pages/dashboard.js"></script>



    <script type="text/javascript"
        id="">!function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "2041433492796878"); fbq("track", "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=2041433492796878&amp;ev=PageView&amp;noscript=1"></noscript>
    <script type="text/javascript"
        id="">fbq("trackCustom", "Scroll Depth", { scroll_depth: google_tag_manager["GTM-NQJ86D3"].macro(7) });</script>
    <script type="text/javascript"
        id="">fbq("trackCustom", "Scroll Depth", { scroll_depth: google_tag_manager["GTM-NQJ86D3"].macro(10) });</script>
    <script type="text/javascript"
        id="">fbq("trackCustom", "Scroll Depth", { scroll_depth: google_tag_manager["GTM-NQJ86D3"].macro(13) });</script>
    <script type="text/javascript"
        id="">fbq("trackCustom", "Scroll Depth", { scroll_depth: google_tag_manager["GTM-NQJ86D3"].macro(16) });</script>
    <script type="text/javascript"
        id="">fbq("trackCustom", "Scroll Depth", { scroll_depth: google_tag_manager["GTM-NQJ86D3"].macro(24) });</script>
</body>
